<!-- <div class="pft-pop-up-form-container">
    <div class="pft-pop-up-form-container__close-container" (click)="onClose()" >close</div>
    <div class="pft-pop-up-form-container__body">
        <div class="pft-pop-up-form-container__body--expense-type-container">
        
            <pft-button title="Income" (buttonClicked)="onClickHandler("Income")" [btnType]="isIncome ? 'btn-primary' : 'btn-outline-primary'" />
        
            <pft-button title="Expense" (buttonClicked)="onClickHandler("Expense")" [btnType]="!isIncome ? 'btn-primary' : 'btn-outline-primary'" />
        
        </div>
    </div>
</div> -->

<div class="pft-pop-up-form-container">
    <div class="pft-pop-up-form-container__close-container" (click)="onClose()">close</div>
    <div class="pft-pop-up-form-container__body">
      <div class="pft-pop-up-form-container__body--expense-type-container">
        <span> Type :
        <pft-button
            class="income-btn"
          title="Income"
          (buttonClicked)="onClickHandler('Income')"
          [btnType]="isIncome ? 'btn-primary' : 'btn-outline-primary'"
        ></pft-button>
        <pft-button
        class="expense-btn"
          title="Expense"
          (buttonClicked)="onClickHandler('Expense')"
          [btnType]="!isIncome ? 'btn-primary' : 'btn-outline-primary'"
        ></pft-button>
    </span>
      </div>
    </div>
  </div>
  